argcomplete==3.2.2
blinker==1.7.0
boto3==1.34.38
botocore==1.34.38
certifi==2024.2.2
cfn-flip==1.3.0
charset-normalizer==3.3.2
click==8.1.7
durationpy==0.6
Flask==3.0.2
Flask-Cors==4.0.0
hjson==3.1.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
jmespath==1.0.1
kappa==0.6.0
MarkupSafe==2.1.5
placebo==0.9.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==8.0.4
PyYAML==6.0.1
requests==2.31.0
resend==0.7.2
s3transfer==0.10.0
six==1.16.0
text-unidecode==1.3
toml==0.10.2
tqdm==4.66.1
troposphere==4.6.0
urllib3==2.0.7
Werkzeug==3.0.1
zappa==0.58.0
